[submodule "components/esp32-max30100"]
	path = components/esp32-max30100
	url = https://github.com/aedalzotto/esp32-max30100.git
[submodule "components/esp32-mpu6050"]
	path = components/esp32-mpu6050
	url = https://github.com/gabrielbvicari/esp32-mpu6050.git
[submodule "components/esp32-i2c_rw"]
	path = components/esp32-i2c_rw
	url = https://github.com/gabrielbvicari/esp32-i2c_rw.git
